.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.2rem;
    background-color: #E9E9E9;
    font-size: 0.9rem;
    color: #646464;
    width: 100%;
    box-sizing: border-box;
    gap: 1rem;
    flex-wrap: wrap;
}

.logo {
    font-weight: bold;
    color: #ff4e9b;
    white-space: nowrap;
    display: flex;
    align-items: center;
    width: 110px;
    margin-right: 100px;
}

.github {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 130px;
}

.github img {
    width: 50px;
}

.members {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 0.5rem 1.5rem;
    flex: 1 1 auto;
    font-size: 0.8rem;
    word-break: break-word;
    justify-items: flex-start;
}

.members div {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: wrap;
}

.members div p {
    margin: 0;
    line-height: 1.3;
    white-space: normal;
    font-size: inherit;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: stretch;
    }

    .logo, .github {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .members {
        grid-template-columns: 1fr;
        margin-top: 1rem;
    }

    .github{
        display: none;
    }
}