.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 3vw;
    height: 60px;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    width: 100%;
    max-width: 100vw;
    min-width: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: hidden;
}

.left, .profile {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
}

.logo {
    width: 130px;
    flex-shrink: 0;
    cursor: pointer;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-left: 2vw;
    min-width: 0;
    max-width: 100%;
    overflow: hidden;
}

.menu span {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 700;
    color: #454545;
    font-size: 1rem;
    white-space: nowrap;
    margin: 0 1rem;
    cursor: pointer;
    max-width: 100%;
    text-overflow: ellipsis;
}

.profile {
    gap: 0.4rem;
    min-width: 0;
    flex-shrink: 0;
}

.user_profile {
    width: 32px;
    height: 32px;
    object-fit: cover;
    cursor: pointer;
}

.username {
    font-size: 1rem;
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 700;
    color: #454545;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80px;
    margin-left: 5px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .logo {
        width: 100px;
        flex-shrink: 0;
        cursor: pointer;
    }

    .nav{
        padding: 0 16px;
    }

    .menu span {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 0.8rem;
        margin: 0 0.5rem;
    }

    .username {
        font-size: 0.8rem;
    }

    .user_profile {
        width: 28px;
        height: 28px;
        cursor: pointer;
    }

    .menu, .left, .profile {
        flex-wrap: wrap;
        min-width: 0;
        max-width: 100%;
    }
}

/* 기본 메뉴 스타일 */
.menuItem {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-size: 1rem;
    white-space: nowrap;
    margin: 0 1rem;
    cursor: pointer;
    max-width: 100%;
    text-overflow: ellipsis;
    color: #454545;
    font-weight: 700;

    transition: opacity 0.2s ease, color 0.2s ease;
}

.activeMenu {
    color: #acacac !important;
    font-weight: 900;
}

.menuItem:hover {
    opacity: 0.6;
}
