.barContainer {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.searchContainer {
    position: relative;
    flex: 1;
}

.searchInput {
    width: 100%;
    padding: 14px 50px 14px 14px;
    font-size: 0.9rem;
    border: 1px solid #ccc;
    border-radius: 50px;
    outline: none;
    box-sizing: border-box;
}

.searchInput::placeholder {
    color: #aaa;
}

.searchButton {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
    transition: background-color 0.2s ease;
    outline: none !important;
}

.searchIcon {
    width: 1.1rem;
    height: 1.1rem;
    min-width: 16px;
    min-height: 16px;
}

.writeButton {
    padding: 8px 16px;
    background-color: #ff7b9a;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color 0.2s ease;
}

.writeButton:hover {
    background-color: #ff92ab;
}

.writeButton:focus {
    outline: none;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0);
}

.errorOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);  /* 반투명 회색 */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9998;
}

.errorMessage {
    background-color: white;
    color: #ff4f87;
    font-size: 1rem;
    font-family: 'Jua', sans-serif;
    padding: 20px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    z-index: 9999;
    animation: fadeInOut 2s ease-out;
    text-align: center;
}